<!doctype html>
<html>
  {% include 'head.html' %}
  
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  
  <body>
    {% include 'cabecalho.html' %}
    
    <div class="tudo">
        <h4>Status: <b id="status">Online</b>!</h4>
        
        <div id="grafico" style="width:100%; height: 500px;"></div>
        

        <h2>Medido: <b><span id="litros">{{d['litros']}}</span><span> Litros</span></b></h2>
        <h2>Fluxo: <b><span id="fluxo">{{d['fluxo']}}</span><span> L/Min</span></b></h2>

        <h2>Valor: <b>R$ <span id="valor">{{d['valor']}}</span><span></span></b></h2>
    </div>
    
    <script>
        const epoch2000=946684800;
    
        function atualiza(){
            fetch('/api_historico')
                .then(response=>response.json())
                .then(dados=>{
                        console.log(dados);
                
                        if(dados.status=='ok'){
                            $('#status').text('Online');
                        }else{
                            $('#status').text('Offline');
                        }
                
                        $('#fluxo').text(dados.fluxo_fmt);
                        $('#litros').text(dados.litros_fmt);

                        $('#valor').text(dados.valor_fmt);
                        
                        tempos_pre=dados.tempos;
                        
                        tempos_pos=tempos_pre.map(ts=>new Date((ts+epoch2000)*1000).toISOString());
                        
                        const configs=[{
                                x:tempos_pos,
                                y:dados.fluxos,
                                mode:'lines+markers',
                                name:'Valores',
                                line:{color:'blue','width':2}
                            }];
                        
                        const layout={
                                title:'Gráfico do Fluxo de Água pelo Tempo',
                                xaxis:{'title':'Tempo'},
                                yaxis:{'title':'Fluxo (L/Min)'}
                            };
                        
                        Plotly.newPlot('grafico',configs,layout);
                        
                        
                    })
                .catch(error=>{
                        $('#status').html('Erro');
                    });
            
            setTimeout(atualiza,5000);
        };
        
        setTimeout(atualiza,5000);
    </script>
  </body>
</html>
